
<%= form_with(url: "/search", method: "get", local: true) do %>
    <%= label_tag(:q, "Search Articles by Title:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<%= form_with(url: "/search", method: "get", local: true) do %>
  <%= label_tag(:f, "Search Articles by Tag:") %>
  <%= text_field_tag(:f) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_with(url: "/search", method: "get", local: true) do %>
  <%= label_tag(:p, "Filter By Popular:") %>
  <%= hidden_field_tag(:p) %>
  <%= submit_tag("Filter") %>
<% end %>
<%= form_with(url: "/search", method: "get", local: true) do %>
  <%= label_tag(:t, "Filter By Most Tagged:") %>
  <%= hidden_field_tag(:t) %>
  <%= submit_tag("Filter") %>
<% end %>

  
  <ul>
    <% @articles.each do |article| %>
      
        <li>  <%= link_to article.title, article %> </li>
      <br>
    <% end %>
  </ul>

