<%= form_with(url: "/search", method: "get", local: true) do %>
    <%= label_tag(:q, "Search Articles:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

  
  <ul>
    <% @articles.each do |article| %>
      
        <li>  <%= link_to article.title, article %> </li>
      <br>
    <% end %>
  </ul>

