
<%=form_for @user do |f| %>
<div class="form-group">
    <%=f.text_field :username, placeholder: "Username" %> <br>

    <br />

    <%=f.text_field :first_name, placeholder: "First Name" %> <br>

    <br />

    <%=f.text_field :last_name, placeholder: "Last Name" %> <br>

    <br />

    <%=f.password_field :password, placeholder: "Choose a password" %> <br>

    <br />

    <%=f.password_field :password_confirmation,placeholder: "Enter password again" %> <br>

    <br />

    <%=f.submit nil, class: "btn btn--home" %>
 </div>

<% end %>

