

<br />
<div class="card">
<h1>
   See <%= @user.username %>'s saved articles
</h1>

<h2> 
    Name: <%= @user.first_name %> <%= @user.last_name %>
</h2>
<br>

 
<% if @user.saved_articles == [] %>
    <h4> This user has no saved_articles :( </h4>
<%end %>
</div>


<% @user.saved_articles.each do |sa| %>
    <div class="article_list">
            <%= link_to sa.article.title, sa.article %>: <%= sa.article.short_desc %>
    <br> Note: <%= sa.note %>

    <br> Tags:
    <% sa.article.tags.each do |t| %>
        <%= t.name %>
    <% end %>
    </div>
<% end %>