

<br />


<h1>
    Username: <%= @user.username %>
</h1>

<h2> 
    User's Name: <%= @user.first_name %> <%= @user.last_name %>
</h2>

 

<% @user.saved_articles.each do |sa| %>
    <p>
        <%= sa.article.title %>: <%= sa.article.short_desc %>
    </p>

    <p>
        Note: <%= sa.note %>
    </p>

<%= link_to "Visit #{sa.article.title} On Wikipedia", sa.article.url %>

    <br />
    <br />
<% end %>